<h6 class="text-center">Registro de alumno</h6>
<br>
<div class="row">
  <div class="col-md"><h6>Nombre</h6></div>
  <div class="col-md"><h6>Fecha</h6></div>
  <div class="col-md"><h6>Tutor</h6></div>
  <div class="col-md"><h6>Teléfono</h6></div>
</div>
<br/>
<table class="table table-sm table-hover">
  <tr *ngFor="let alumno of alumnoLista; index as i">
    <td>{{ i + 1 }}. {{alumno.nombre}}</td>
    <td>{{alumno.fecha}}</td>
    <td>{{alumno.nombre_tutor}}</td>
    <td>{{alumno.tel_tutor}}</td>
    <td>
      <a class="btn" (click)="onEdit(alumno)">
        <i class="fa fa-pencil-square-o"></i>
      </a>
      <a class="btn" (click)="onDelete(alumno.$key)">
        <i class="fa fa-trash-o"></i>
      </a>
    </td>
  </tr>
</table>