<h3>Busqueda de Alumno</h3>
<div class="form-row">
  <div class="col-md-5 mb-3">
    <input type="text" #searchInput (keyup)="search(searchInput.value)" placeholder="Buscar instructor..." class="form-control">
  </div>
</div>

<div *ngFor="let alumno of alumno$ | async">
  <h5>{{alumno.nombre}}</h5>
  <p>
   <b> Dirección:</b> {{alumno.direccion}} <br>
    <b> Fecha de nacimiento:</b> {{alumno.fecha}}
    <b>Nombre del tutor:</b> {{alumno.nombre_tutor}} <br>
    <b>Teléfono del tutor</b> {{ alumno.tel_tutor }}
  </p>
</div>
<div *ngIf="(alumno$ | async)?.length < 1">
  <hr>
  <p>
    No se encontraron resultados...
  </p>
</div>
