<h3>Busqueda de Alumno</h3>
<div class="form-row">
  <div class="col-md-5 mb-3">
    <input type="text" #searchInput (keyup)="search(searchInput.value)" placeholder="Buscar instructor..." class="form-control">
  </div>
</div>
<br>
<div class="row">
    <div class="col-md-3"><h6>Nombre</h6></div>
    <div class="col-md-2"><h6>Tutor</h6></div>
    <div class="col-md-2"><h6>Teléfono</h6></div>
    <div class="col-md"><h6>Dirección</h6></div>
</div>
<br>
<table class="table table-sm table-hover">
    <tr *ngFor="let alumno of alumno$ | async">
        <td>{{alumno.nombre}}</td>
        <td>{{alumno.nombre_tutor}}</td>
        <td>{{alumno.tel_tutor}}</td>
        <td>{{alumno.direccion}}</td>

    </tr>
</table>

<div *ngIf="(alumno$ | async)?.length < 1">
  <hr>
  <p>
    No se encontraron resultados...
  </p>
</div>
